<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="irc.twitch.serverName" value="" />
    <add key="irc.twitch.portNumber" value="" />
    <add key="irc.twitch.nickname" value="" />
    <add key="irc.twitch.password" value="" />
    <add key="irc.twitch.privmsgFormat" value=":{0}!{0}@{0}.tmi.twitch.tv PRIVMSG #{0} :{1}" />
    <add key="irc.twitch.capabilities.membership" value="twitch.tv/membership" />
  </appSettings>
</configuration>
